footer p {
  background: none;
  width: 292px;
  height: 24px;
  left: 208px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #8d9091;

  margin:-45px 207px 28px 950px;
  text-align: center;
}

