footer{
width: 292px;
height: 24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #8D9091;

margin:-65px 207px 28px 950px;
}

footer p{
    text-align: center;
}