footer{
position: absolute;
width: 292px;
height: 24px;
left: 208px;
/* top: 980px; */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
color: #8D9091;

margin:860px 207px 28px 700px;
}

footer p{
    text-align: center;
}