@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #443DF6;
  --light: #FFF;
  --font-md: 16px;
}

span,
p,
button {
  border: none;
  font-family: 'Roboto', sans-serif;
}
