.lg_half1 {
  display: flex;
  background-color: #c4c4c4;
  flex-direction: column;
  width: 50%;
}

.lg_half2 {
  display: flex;
  background-color: #e5e5e5;
  flex-direction: column;
  width: 50%;
}

.lg_mainContainer {
  display: flex;
  height: 100vh;
}

.lg_cardLogin {
  position: relative;
  display: flex;
  align-self: center;
  background-color: #ffffff;
  height: 37.2vh;
  width: 38.35vw;
  margin-top: 31.4vh;
}

.lg_inputs {
  margin-left: 6.5vw;
  margin-top: 6.5vh !important;
}

.lg_input {
  margin-left: 2.5vw !important;
  padding-bottom: 1vh !important;
  background-color: white !important;
  color: white !important;
}

.lg_input label {
  top: 0px;
}

.lg_loginButton {
  position: absolute;
  display: flex;
  margin-left: 8vw;
  margin-top: 1.725vh;
}

.textFieldWithError {
  border: 1px solid;
  border-color: #c4c4c4;
  outline: 1px solid red !important;
  outline-offset: 1px;
  height:29px;
  margin:0
}

.lg_loginBtn {
  width: 8.35vw;
  height: 5.47vh;
}

.lg_login {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  /* width:100vh; */
}

.lg_placeholderLogin {
  position: absolute;
  display: flex;
  flex-direction: column;
  float: center;
  margin-left: -10px;
  width: 40px;
  text-align: right;
}

.lg_Ops {
  display: flex;
  width: 7.15vw;
  vertical-align: middle;
  text-align: center;
}

.lg_Ops span {
  margin-top: 2.2vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.lg_errors {
  margin-top: 5.86vh;
  display: flex;
  justify-content: center;
  background-color: #443df61a;
  width: 38.35vw;
  height: 6.26vh;
  align-self: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.lg_errors span {
  justify-self: left;
  color: rgb(0, 0, 0);
  padding-right: 90px;
  font-weight: 900;
}

.lg_errorMsgs {
  margin-left: 20px;
  display: flex !important;
}

.lg_errorMsgs span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  margin-top: 2.2vh;
  color: rgb(2, 0, 0) !important;
  font-weight: 500 !important;
  font-size: small !important;
}

.lg_errors p {
  display: inline-flex;
  margin-left: 15px;
}

.lg_footer {
  justify-content: center;
  align-self: center;
  /* margin-right: 15vw; */
  color: #8d9091;
  position: absolute;
  margin-top: 95.7vh;
}

.loader {
  position: absolute;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  margin-left: -40px;
  border-top: 2px solid #949494;
  width: 20px;
  height: 20px;

  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  display: flex;
  flex-direction: column;
}

.userError{display: flex;}

.userError span{
  color:red;
  font-size: 14px;
  margin-left: 3.05vw;
  font-weight: 500;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 428px) {
  .lg_half1 {
    display: none;
  }

  .lg_Ops {
    position:absolute;
    display: flex;
    width: 7.15vw;
    vertical-align: middle;
    text-align: center;
    margin-left:-70%;
  }

  .lg_errorMsgs span {
    position:absolute;
    margin-left:-20%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    vertical-align: middle;
    text-align: center;
    width: 40vw;
    font-size: 14px;
    
    
    color: rgb(2, 0, 0) !important;
    font-weight: 500 !important;
    font-size: small !important;
  }

  .lg_half2 {
    width: 100%;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
  }

  .lg_cardLogin {
    width: 80vw;
  }

  .lg_errors {
    position:relative;
    width: 70vw;
    margin-left: 0px;
  }

  .lg_inputs {
    flex-direction: column;
  }

  .lg_input {
    margin-left: -0.85vw !important;
    padding-bottom: 1vh !important;
    background-color: white !important;
    color: white !important;
    width: 69.1vw !important;
  }

  .lg_userError{
    display:flex;
    
  }
  

  .lg_loginButton {
    
    position: absolute;
    display: flex;
    margin-left: 20vw;
    margin-top: 1.725vh;
  }

  .lg_loginBtn {
    width: 28.04vw;
    height: 5.94vh;
  }
  
}

@media only screen and (min-width: 428px) and (max-width: 724px) {
  .lg_footer {
    margin-left: 5vw;
    display: inline;
    font-size: small;
  }

  .lg_errors

  .lg_Ops {
    position: absolute;
    display: flex;
    width: 7.15vw;
    vertical-align: middle;
    text-align: left;
  }

  .lg_errorMsgs {
    display: none !important;
  }

  .lg_errors span {
    justify-self: center;
    margin-left: 70px;
  }
}
