
:root {
  --mainColor: #443DF6;
  --fontColor: #525252;
}

body {
  margin: 0;
  padding: 0;
  color: var(--fontColor);
  background-color: #E5E5E5;
}

.containerDiv {
  margin-top: 7vw;
  height:50%;
  display:flex;
  flex-direction: column;
  background: #E5E5E5;
}


.formLogin {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    padding-bottom: 2vw;
    margin-top: 70px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    border-radius: 4px;

}

.formInputsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*width: 20vw;*/
}

.loginBtn {
  background-color: var(--mainColor) !important;
  font-weight: 1vw !important;
 /* width: 9vw;
  height: 3vw;*/
  margin-top: 1vw !important;
}

.Messages{

  display: flex;
  flex-direction: row;
  color: #000000;
  font-weight: 500;
  width: 35vw;
  height: 64px;
  text-align: center;
  margin-top: 50px;
  background: linear-gradient(0deg, rgba(68, 61, 246, 0.1), rgba(68, 61, 246, 0.1)),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
  font-family: 'Roboto', sans-serif;
  justify-content: space-around;
  border-left: solid;
  border-left-color: var(--mainColor);
  align-content: stretch;
  align-items: center;
  justify-content: flex-start;
}

.bottomContainer{
  position: absolute;
  bottom: 0;
  height: 2.5rem;
}

.MessagesDetail{
  margin-left: 50px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.BigDiv{
  display:flex;
  height:100%;
  }
  
  .greyThing{
      width:50%;
      display:flex;
      flex-direction: column;
      background-color: #C4C4C4;
  }
  
  